body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: black;
    color: white;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.btn-ligth {
    background-color: white;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
}

main {
    padding: 20px;
}
